/* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 10px;
}

    /* Style the icon bar links */
    .icon-bar a {
        display: block;
        text-align: center;
        padding: 16px;
        transition: all .1s ease-in-out;
        font-size: 20px;
    }

        /* Style the social media icons with color, if you want */
        .icon-bar a:hover {
            transform: scale(1.1);
        }

        .icon-bar a:active {
            transform: translateY(4px);
        }



.graph {
    background: #FFFDE4;
    color: white;
    background-image: url("https://img.icons8.com/material-outlined/30/000000/graph.png")
}

.info {
    padding-bottom: 25px;
    background: #FFFDE4;
    color: white;
    background-image: url("https://img.icons8.com/metro/31/000000/info.png")
}

.income {
    background: #FFFDE4;
    color: white;
    background-image: url("https://img.icons8.com/ios-filled/32/000000/bad-idea.png")
}

.balance {
    background: #FFFDE4;
    color: white;
    background-image: url("https://img.icons8.com/material/32/000000/invoice-1.png")
}

.cashflow {
    background: #FFFDE4;
    color: white;
    background-image: url("https://img.icons8.com/ios-filled/31/000000/get-cash.png")
}
